
body {background: url(/media/i/bgtile.png) repeat;}

ul {list-style-type: none; margin:0px; padding:0px; }

ul li {list-style-type:none; float:left; padding: 5px 5px; margin: 0px;}

ul li a {text-decoration: none; color: black;}

ul#navigation li.right, ul#navigation li.left {font-weight:bold;}

.home-link { display: block; position: absolute; top: 0; left: 0; width: 106px; height: 115px;}
.content {width: 1024px; margin-top: 10px;}

.content-body {background-color: white; padding: 30px; width: 744px; float:left; margin: 0 5px 0 0px; min-height: 550px;}

.content-body .post {color: #5C5959; margin-bottom: 20px; font-size: .9em; }
.content-body p {font-size: .9em;}
.content-body p img {margin: 20px; }
.content-body p img.left {float:left; margin-left: 0px;}
.content-body p img.right {float:right; margin-right: 0px;}

.content-body h2 {color: rgb(24, 31, 39); margin-top:0px; margin-bottom: 7px; }
.content-body .post h2 a, .content-body .post a {text-decoration: none; color: #5C5959; }
.content-body .post h2 a:hover {color: #013F73; }
.metadata { font-size: .7em; margin-bottom:10px; }
.metadata a:hover {color: #013F73;}
.bookmarks { margin: 10px 0px; }
.control-link, #comments {font-size:.9em;}
#comment-form {margin: 10px 0px;}
#comment-form h2 { font-size: 1.1em;}

.sidebar {float:left; width: 210px; background: transparent;}

.sidebar h4 {color: rgb(24, 31, 39); font-size: 1em; margin-top:10px; float:left; margin-bottom:0px;}

.sidebar .bar-headline a {color: rgb(1, 63, 115); font-weight: bold; font-size: .8em; font-family:arial, serif, sans-serif;}

.sidebar .bar-date {color: black; font-size: .8em; font-family:arial, serif, sans-serif;}

.sidebar ul {margin-bottom: 8px; float:left;}

.sidebar h4.second {margin-top: 40px;}

.sidebar span.new {color:red; font-weight: bold;}

.sidebar a.story-submit {padding: 4px 9px; text-decoration: none; color: black; font-size: .7em; margin: 5px 2px; width: 120px; height:30px; border: 1px solid white; background-color: rgba(255,255,255,.4);}

ul.sidebar-entries li { float:left; width:210px;}

.nav { height: 33px;  padding: 3px 3px 0px 0px; width: 100%; margin:0px; font-family:Courier New, Courier New, Courier, monospace;}

.nav ul {font-size:.8em; font-weight: bold; }

.nav ul li {background-color: #BED7D5; }

.nav ul li {background: rgba(255,255,255,.4) url(/media/images/navline.png) no-repeat scroll right center ; text-align:center;  margin: 0px;  padding:10px 15px; width:104px;}

.nav ul li.selected {background-color: white; margin-left: -2px; padding-right: 17px;}

.nav ul li.selected.first {margin-left:0px; padding-right:15px;}
.nav ul li.last {border-right: none; background-image: none;}

.nav ul li a {display:block; padding: 0; }



.container {display: block; width: 1024px; margin-left:auto; margin-right: auto; font-family: verdana, arial, sans-serif; color: #5C5959;} 

.header{  position:relative; background: url(/media/i/logo.png) no-repeat top left; height: 115px;}

.header h1 { left: -9999px; position:absolute;}

.header .empire { right:0; position:absolute; font-size: .8em;}

.header .empire a {text-decoration: none; color:black;}

.header .empire .sep {color: white; font-weight: bold; padding-right:5px;}

.header .empire input {background-color: #BED7D5;}

.header .empire input { padding-left:10px; width: 150px; height: 20px; margin: 0 20px 0 20px; background-color: rgba(255,255,255,.4); border: 1px solid white; border-right:none; margin-right:0px; padding-right:0px;}

.header .empire input.glass {height:18px; margin-left:0px; margin-top: 1px; width:18px; vertical-align:middle;  border:1px solid white; border-left: none; margin-left: 0px;  padding: 2px 5px 2px 2px; background: rgba(255,255,255, .4);}



.footer { clear: both; margin: 0 ; }

.footer-top {background-color: rgb(248,212,42);}

.footer-top {height:25px; background-color: rgba(248,212,42,.6); border-bottom: 3px solid white;}

.footer-header{background-color: rgb(248, 212, 42); border-bottom:3px solid white; height: 40px; font-size: 1.1em;}

.footer-header ul li {padding: 10px 5px;}

.footer-header ul li.join {width: 400px; margin-left:20px; }

.footer-header ul li.connect {width: 200px;}

.footer-bottom {height: 80px; background-color: rgb(48, 51, 55);}

.footer-bottom span {display: block; float: left; padding: 7px 5px;}

.footer-bottom span a img {border: none;}

.footer-bottom span.join-mailing input {width: 170px; border: 1px solid white; -moz-border-radius: 13px; -webkit-border-radius: 13px; margin: 5px 0;}

.footer-bottom span.join-mailing{ margin-left: 20px; }

.footer-bottom span.address{color: rgb(248,212,42); margin-left: 100px;}

/* ie styles */

#ie .header .empire input { border: 1px solid white;}

#ie .header .empire input.glass {padding-top: 0px; padding-bottom: 5px; border:none; background:transparent;}
