{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Profile editing" %}{% endblock %}

{% block content %}
<p><a href="{% url openid_list %}">{% trans "Associated OpenIDs" %}</a></p>
<p><a href="{% url merge %}">{% trans "Merge with another account" %}</a></p>
{% if appcheck.watchlist %}
<p><a href="{% url wl_list %}">{% trans "Subscriptions list" %}</a></p>
{% endif %}
<form action="." method="post">
    <table>
        {{ form }}
    </table>
    <input type="submit" name="Submit" value="{% trans "Submit" %}" />
</form>
{% endblock %}
