<div class="sidebar">

            <h4>latest blog entries</h4>

            <ul class="sidebar-entries">

                <li>

                    <span class="bar-headline">I Did Nothing Wrong </span><br />

                    <span class="bar-date">Today</span>

                </li>

                <li>

                    <span class="bar-headline">I Did Nothing Wrong </span><br />

                    <span class="bar-date">June 26</span>

                </li>

                <li>

                    <span class="bar-headline">I Did Nothing Wrong </span><br />

                    <span class="bar-date">Yesterday</span>

                </li>

            </ul><br />

            <a href="submit-story" class="story-submit">submit story</a>

            <br />

            <h4 class="second">latest news</h4>

            <ul class="sidebar-entries">

                <li>

                    <span class="bar-headline">Anti-Racism Policy</span><br />

                    <span class="bar-date">Lorem ipsum dolor sit amet, consectetur ad elit. Cras ornanissim mauris ut velit facilisis eu sagittis risus gravida. Mauris eleifend rutrucursus at.</span>

                </li>

                <li>

                    <span class="new">NEW</span> <span class="bar-headline">Street Harassment Map</span>

                    <span class="bar-date">View our interactive Google Map of reported incidents of street harassment</span>

                </li>

            </ul>

        </div>
