{% extends "base.html" %}

{% load i18n %}
{% load watchlist_tags %}

{% block title %}{% trans "Subscriptions list" %}{% endblock %}

{% block content %}
<h1>{% trans "Subscriptions list" %}.</h1>

<ul>
  {% for subscription in object_list %}
  <li><a href="{{ subscription.object.get_absolute_url }}">{{ subscription.object }}</a> (<a href="{% unsubscribe_url subscription.object %}">{% trans "unsubscribe" %}</a>)</li>
  {% endfor %}
</ul>

<h2>{% trans "Unsubscribe from subscription type" %}.</h2>
<ul>
  {% for subscription in object_list %}
  {% ifchanged subscription.content_type %}
  <li><a href="{% unsubscribe_type_url subscription.content_type %}">
    {% blocktrans with subscription.content_type.app_label as app and subscription.content_type.model as model %}Unsubscribe from all {{ app }} {{ model }}s.{% endblocktrans %}
  </li>
  {% endifchanged %}
  {% endfor %}
</ul>
{% endblock %}