{% extends "base.html" %}

{% block title %}Page not found{% endblock %}

{% block content %}
<h1>Page Not Found (Error 404)</h1>

<p>This is the famous 404 error page. You have requested a URL which does
not exist. Maybe this URL points to a deleted page, or maybe
there is a mistake in the URL. Or maybe there is some other reason why you are
here.</p>

<p>You can try browsing the <a href="/">site</a> from
the very beginning&mdash;who knows, maybe you'll find something useful or
interesting. ;-)</p>

{% endblock %}
