{% extends "base.html" %}

{% block title %}Server error{% endblock %}

{% block content %}
<h1>Server Error (Code 500)</h1>

<p>Oops!&hellip; It looks like there is a bug in the server software, or you have
found some unfinished or buggy feature. :-)</p>

<p>If the server is configured properly, the administrator
will get a report about this error soon. If you think the administrator is not
receiving the notices, you can report the problem yourself using contact
information supplied on the <a href="/about/">about</a> page, You can also try
submitting a ticket to the site framework authors at 
<a href="http://byteflow.su/">Byteflow Trac</a>.</p>

<p>Sorry for the inconvenience, and thank you for your patience!</p>
{% endblock %}
